$icomoon-font-path: "fonts" !default;

$icon-dongchandiya: "\e902";
$icon-gongshangxinxi: "\e904";
$icon-icon_left: "\e90a";
$icon-icon_up: "\e910";
$icon-qiyenianbao: "\e913";
$icon-rongzixinxi: "\e915";
$icon-zhaopinxinxi: "\e919";
$icon-zhuanlixinxi: "\e91a";
$icon-huiyuan: "\e906";
$icon-renzheng: "\e914";
$icon-icon_mail: "\e90b";
$icon-icon_phone: "\e90d";
$icon-icon_position: "\e90e";
$icon-icon_home: "\e909";
$icon-beizhixingren: "\e900";
$icon-fayuanpanjue: "\e903";
$icon-guquanchuzhi: "\e905";
$icon-icon_back: "\e907";
$icon-icon_down: "\e908";
$icon-icon_more: "\e90c";
$icon-icon_right: "\e90f";
$icon-jingyingyichang: "\e911";
$icon-kaitinggonggao: "\e912";
$icon-shangbiaoxinxi: "\e916";
$icon-shixinxinxi: "\e917";
$icon-touziguanxi: "\e918";
$icon-biangengjilu: "\e901";

